.ingredient-card {
    width: 50%;
    padding: 1rem;

    h2, 
    .ingredients,
    .directions {
        margin: 1rem;
    }

    h2 {
        text-align: center;
        border-bottom: solid black 1px;
        padding-bottom: 5px;
    }

    .card {
        border: solid black 1px;
    }

    .direction-line {
        padding: 5px;
    }
}