@font-face {
    font-family: 'OpenSans-Semi';
    src: url(./fonts/OpenSans-SemiBold.ttf);
}

a {
  font-family: 'OpenSans-Semi';
  text-decoration: none;
  color: black;
}

a:hover {
  border: 1px solid black;
  border-radius: 5px;
}


.navigation { 
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  height: 70px; 
  width: 100%; 
  display: flex; 
  margin-bottom: 4px;
  box-shadow: 1px 2px 4px 3px #0000004d;
  background-color: white;

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 1rem;
    margin: 1rem;
    padding: 4px;
  
    border-left: 1px solid #00000026;
    border-right: 1px solid #00000026;
  
    cursor: pointer; 
  }

}

.mobile-nav {
    display: none;
}

@media screen and (max-width: 800px) {

.navigation {
    display: none;
}

.mobile-nav {

  display: flex;
  align-items: center;
  position: sticky;
  top: 0;

  .hamburger-react {
    z-index: 3;
}

  .nav-link {
    grid-auto-flow: row;
    list-style-type: none;
    row-gap: 40px;
    column-gap: 0;
    justify-items: center;
  
    cursor: pointer; 
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  
  top: 0;
  padding-top: 3.5rem;   
  width: 35%;
  height: 100%;
  background-color: #00b3ffd3;
    
    .nav-link {
      display: flex;
      align-items: center;

      height: 1rem;
      width: fit-content;
      margin: .55rem;
      padding: 1px;
    
      cursor: pointer; 
  }
}
}