.strike {
    text-decoration: line-through;
}

.item_list_container {

    .item_list {

        margin-left: 2rem;
        max-width: 20%;
        height: 22rem;
        padding: 1rem 0 0 1rem; 

        border-radius: 2rem;

        background-color: #FFFFFF;

        // position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        box-shadow: inset 1px 2px 4px 3px rgba(0,0,0,0.3);
        overflow: auto;

        list-style-type: none;

        h3 {
            padding: 0;
            margin: 5px 2.25rem 1rem 0;
            text-align: center;

            -moz-user-select:none; /* firefox */
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE*/
            user-select: none; /* Standard syntax */
        }
    }
}    