.strike {
    text-decoration: line-through;
}

.list-item {
   -moz-user-select:none; /* firefox */
   -webkit-user-select: none; /* Safari */
   -ms-user-select: none; /* IE*/
   user-select: none; /* Standard syntax */
}

.list-item:hover {
    cursor: pointer;
}