.recipe-container {
    display: flex;
    flex-direction: row-reverse;
    top: 0;
    height: 100%;
    width: 90%;
    z-index: -1;
    margin-left: 5rem;
 
}

.recipe-container > :nth-child(2) {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .recipe-container {
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .route-container {
            top: 0;
            display: flex;
            flex-direction: column;
        }
    }
}